<div class="container">
    <h1>Lista de compras</h1>
    
    <form #frm="ngForm" (ngSubmit)="adicionaritem()" class="add-itens">
        <input type="text" [(ngModel)]="item" name='item' placeholder="Adicione uma nova compra" id="item">
        <button type="submit">Adicionar</button>

        <button type="button" (click)="limparLista()">Limpar Lista</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Quantidade</th>
                <th>Comprado</th>
            </tr>
        </thead>
        <tbody>
            @for (elementos of lista; track elementos.id;) {
                <tr>
                <td>{{elementos.id}}</td>
                <td><span [ngClass]="{'item-riscado': elementos.comprado}">{{elementos.nome}}</span></td>
                <td><input type="checkbox" (click)="riscaItem(elementos)" [checked]="elementos.comprado"/></td>
            </tr>
            } @empty {
                <tr>
                    <td colspan="3">Nenhum item na lista</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>